on init
    # Enable Security SW version for MDFPP
    setprop ro.sys.sec.version.info "MDF v2.0 Release 2"
#LG_DATA_IWLAN
    setprop persist.data.iwlan.enable true
    setprop persist.sys.cnd.iwlan 2
    setprop persist.lg.data.iwlan 0
#LG_DATA_IWLAN
    exec u:r:setup_fs:s0 -- /sbin/setup_fs_static \
        /dev/block/bootdevice/by-name/eri \
        /dev/block/bootdevice/by-name/operatorlogging \
        no_reboot

on fs
    mkdir /eri 0771 system radio
    wait /dev/block/bootdevice/by-name/eri
    exec /system/bin/e2fsck -y /dev/block/bootdevice/by-name/eri
    mount ext4 /dev/block/bootdevice/by-name/eri /eri nosuid nodev barrier=1 noatime noauto_da_alloc errors=continue

    mkdir /vzw 0755 system system
    mkdir /vzw/quality 0755 system system
    wait /dev/block/bootdevice/by-name/operatorlogging
    exec /system/bin/e2fsck -y /dev/block/bootdevice/by-name/operatorlogging
    mount ext4 /dev/block/bootdevice/by-name/operatorlogging /vzw/quality nosuid nodev barrier=1 noatime noauto_da_alloc errors=continue

on post-fs
    mkdir /data/misc/vpnclientd 0770 system system

on post-fs-data
    chown system radio /eri
    chmod 771 /eri
    chown system system /vzw/quality
    chmod 755 /vzw/quality

    mkdir /persist-lg/dqsl 0770 system system

    # NFC: create data/nfc for nv storage
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc

# LGP_DATA_APN_APN2_ENABLE_BACKUP_RESTORE_VZW
    mkdir /persist-lg/apn2 0770 system system

# LGE_CHANGE_S, 20120513, sewon.kim@lge.com, change tcp_syn_retries from 5 to 2
on boot
    write /proc/sys/net/ipv4/tcp_syn_retries 2
# LGE_CHANGE_E, 20120513, sewon.kim@lge.com, change tcp_syn_retries from 5 to 2

#[START][ePDG][changhwan.lee] set ePDG property
on init
	setprop persist.data.iwlan.enable true
	setprop persist.sys.cnd.iwlan 2
setprop persist.service.epdg.enable 1
#[END][ePDG][changhwan.lee] set ePDG property

# LGE IMS Features - To interwork with QMI WMS (64-bit exe/lib)
service imswmsproxy /system/bin/imswmsproxy
    class main
    user system
    group radio system net_admin net_raw

# LGE IMS Features - LGIMS ipsec solution [START]
service ipsecclient /system/bin/ipsecclient
	class main
	group system net_admin net_raw
	disabled

service ipsecstarter /system/bin/ipsecstarter
	class main
	user system
	group system net_admin net_raw
# LGE IMS Features -LGIMS ipsec solution [END]

service vpnclientd /system/bin/vpnclientd
    class main
    socket vpnclientd seqpacket 0600 system system
    user system
    group system net_admin inet net_raw
    disabled

on property:service.vpnclientd.enable=1
    start vpnclientd
on property:service.vpnclientd.enable=0
    stop vpnclientd

# For t-base
service mobicore /system/bin/mcDriverDaemon
    setenv MC_AUTH_TOKEN_PATH /persist-lg/mcRegistry
    class core
    user system
    group system
    disabled

service tbaseLoader /system/bin/tbaseLoader tbase
    user system
    group system
    class core
    oneshot
    disabled

on post-fs-data
    mkdir /data/app/mcRegistry 0775 system system
    mkdir /data/app/mcRegistry/TbStorage 0700 system system

on property:sys.listeners.registered=true
    start tbaseLoader

on property:mobicore.tbase.loaded=1
    start mobicore

# t-base END
