# Copyright (c) 2009-2012, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

import /init.h1_product.rc
import /init.lge.svelte.rc

# power configuration
import /init.lge.power.rc

# audio configuration
import /init.lge.audio.rc

# LGODL
import /init.lge.modem_log.rc

# fingerprints
import /init.lge.fingerprints.rc

# sensors (onhand)
import /init.lge.sensors.rc

# 2012.08.24 real-wifi@lge.com[wo0gi] TestMode Daemon for broadcom driver [START]

# vrhid
import /init.lge.vrhid.rc

service diagd /system/bin/diagd
    class late_start
    user root
    group radio system
    disabled
    oneshot
    socket lsock_diagd stream 666

on property:wifi_ftm.diagd_start=1
    start diagd

on property:wifi_ftm.diagd_start=0
    stop diagd
# 2012.08.24 real-wifi@lge.com[wo0gi] TestMode Daemon for broadcom driver [END]

on boot
    start set_emmc_size

on property:persist.sys.emmc_size=32GB
    setprop ro.device.memory.system 0
    setprop ro.device.memory.internal 32

service set_emmc_size /system/bin/sh /set_emmc_size.sh
    class main
        user root
        group media_rw system sdcard_rw
        disabled
    oneshot

#[START][LGE_WIFI][CT][hayun.kim@lge.com] : [SPEC] PPPOE Feature
service pppoe_extd /system/bin/pppoe_extd
    user root
    group system radio
    disabled
    oneshot

service dhcp6cDNS_wlan0 /system/bin/dhcp6c -c "/etc/wide-dhcpv6/dhcp6cDNS.conf" -Df wlan0
    disabled
    oneshot

service dhcp6c_wlan0 /system/bin/dhcp6c -c "/etc/wide-dhcpv6/dhcp6c.conf" -Df wlan0
    disabled
    oneshot
#[END][LGE_WIFI][CT][hayun.kim@lge.com] : [SPEC] PPPOE Feature

#[START][LGE_WIFI][COMMON]: TO read WIFI MAC from LGFTM(MISC - block device)
service wififtmd /system/bin/wififtmd
    user root
    group radio system
    disabled
    oneshot

on property:wifi_ftm.wififtmd_start=1
    start wififtmd

on property:wifi_ftm.wififtmd_start=0
    stop wififtmd
#[END][LGE_WIFI][COMMON]: TO read WIFI MAC from LGFTM(MISC - block device)

on property:ro.baseband="msm"
    start atd

#[H1_BT_BRINGUP_S] Bluetooth configuration
on boot

#    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/btwake
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/proto
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/preproto
#    chown bluetooth bluetooth /proc/bluetooth/sleep/lpm
#    chown bluetooth bluetooth /proc/bluetooth/sleep/btwrite
#    chown system system /sys/module/sco/parameters/disable_esco
#    chown bluetooth bluetooth /sys/module/hci_smd/parameters/hcismd_set
#    chmod 0660 /sys/module/bluetooth_power/parameters/power
#    chmod 0660 /sys/module/hci_smd/parameters/hcismd_set
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/btwake
    chmod 0660 /proc/bluetooth/sleep/proto
    chmod 0660 /proc/bluetooth/sleep/preproto
#    chmod 0660 /proc/bluetooth/sleep/lpm
#    chmod 0660 /proc/bluetooth/sleep/btwrite
    chown bluetooth net_bt_stack /dev/ttyHS99
    chown bluetooth net_bt_stack /dev/ttyHS0
    chmod 0660 /sys/module/hci_uart/parameters/ath_lpm
    chmod 0660 /sys/module/hci_uart/parameters/ath_btwrite
    chmod 0660 /dev/ttyHS99
    chmod 0660 /dev/ttyHS0
#    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
#    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock
#[H1_BT_BRINGUP_E] Bluetooth configuration

# setup permissions for fb0 related nodes
    chown system system /sys/class/graphics/fb0/mdp/vfps
    chmod 644 /sys/class/graphics/fb0/mdp/vfps
    chown system system /sys/class/graphics/fb0/mdp/vfps_fcnt
    chmod 644 /sys/class/graphics/fb0/mdp/vfps_fcnt
    chown system system /sys/class/graphics/fb0/mdp/vfps_ratio
    chmod 644 /sys/class/graphics/fb0/mdp/vfps_ratio

#create symlink for fb1 as HDMI
 symlink /dev/graphics/fb1 /dev/graphics/hdmi

#setup permissions for fb1 related nodes
  chown system system /sys/class/graphics/fb1/hdcp/tp
  chmod 664 /sys/class/graphics/fb1/hdcp/tp
  chown system graphics /sys/class/graphics/fb1/hpd
  chmod 664 /sys/class/graphics/fb1/hpd
  chown system graphics /sys/class/graphics/fb1/vendor_name
  chmod 664 /sys/class/graphics/fb1/vendor_name
  chown system graphics /sys/class/graphics/fb1/product_description
  chmod 664 /sys/class/graphics/fb1/product_description
  chown system graphics /sys/class/graphics/fb1/res_info
  chmod 664 /sys/class/graphics/fb1/res_info
  chown system graphics /sys/class/graphics/fb1/video_mode
  chmod 664 /sys/class/graphics/fb1/video_mode
  chown system graphics /sys/class/graphics/fb1/s3d_mode
  chmod 664 /sys/class/graphics/fb1/s3d_mode
  chown system graphics /sys/class/graphics/fb1/cec/enable
  chmod 664 /sys/class/graphics/fb1/cec/enable
  chown system graphics /sys/class/graphics/fb1/cec/logical_addr
  chmod 664 /sys/class/graphics/fb1/cec/logical_addr
  chown system graphics /sys/class/graphics/fb1/cec/rd_msg
  chmod 664 /sys/class/graphics/fb1/cec/rd_msg
  chown system graphics /sys/class/graphics/fb1/pa
  chmod 664 /sys/class/graphics/fb1/pa
  chown system graphics /sys/class/graphics/fb1/cec/wr_msg
  chmod 600 /sys/class/graphics/fb1/cec/wr_msg



# START touch_driver
	chown system system /sys/devices/virtual/input/lge_touch/incoming_call
	chmod 664 /sys/devices/virtual/input/lge_touch/incoming_call
	chown system system /sys/devices/virtual/input/lge_touch/ime_status
	chown system lgkeyguard /sys/devices/virtual/input/lge_touch/keyguard
	chmod 664 /sys/devices/virtual/input/lge_touch/keyguard
	chown system system /sys/devices/virtual/input/lge_touch/debug_tool
	chmod 664 /sys/devices/virtual/input/lge_touch/debug_tool
	chown system system /sys/devices/virtual/input/lge_touch/debug_option
	chmod 664 /sys/devices/virtual/input/lge_touch/debug_option
	chown system system /sys/devices/virtual/input/lge_touch/onhand
	chmod 664 /sys/devices/virtual/input/lge_touch/onhand
# END touch_driver

# START External Display Watch
	chown system system /sys/devices/virtual/ext_watch/config_fontonoff
	chmod 664 /sys/devices/virtual/ext_watch/config_fontonoff
	chown system system /sys/devices/virtual/ext_watch/config_fontdata
	chmod 664 /sys/devices/virtual/ext_watch/config_fontdata
	chown system system /sys/devices/virtual/ext_watch/config_fonteffect
	chmod 664 /sys/devices/virtual/ext_watch/config_fonteffect
	chown system system /sys/devices/virtual/ext_watch/config_fontproperty
	chmod 664 /sys/devices/virtual/ext_watch/config_fontproperty
	chown system system /sys/devices/virtual/ext_watch/config_fontposition
	chmod 664 /sys/devices/virtual/ext_watch/config_fontposition
	chown system system /sys/devices/virtual/ext_watch/config_timesync
	chmod 664 /sys/devices/virtual/ext_watch/config_timesync
	chown system system /sys/devices/virtual/ext_watch/query_fontdata
	chmod 664 /sys/devices/virtual/ext_watch/query_fontdata
	chown system system /sys/devices/virtual/ext_watch/query_fontposition
	chmod 664 /sys/devices/virtual/ext_watch/query_fontposition
	chown system system /sys/devices/virtual/ext_watch/query_timesync
	chmod 664 /sys/devices/virtual/ext_watch/query_timesync
	chown system system /sys/devices/virtual/ext_watch/query_fontcolor
	chmod 664 /sys/devices/virtual/ext_watch/query_fontcolor
	chown system system /sys/devices/virtual/ext_watch/query_fonteffect
	chmod 664 /sys/devices/virtual/ext_watch/query_fonteffect
# END External Display Watch

# START touch_knock_on
	chown system system /sys/devices/virtual/input/lge_touch/lpwg_data
	chmod 664 /sys/devices/virtual/input/lge_touch/lpwg_data
	chown system system /sys/devices/virtual/input/lge_touch/lpwg_notify
	chmod 664 /sys/devices/virtual/input/lge_touch/lpwg_notify
	chown system system /sys/devices/virtual/input/lge_touch/quick_cover_status
	chmod 664 /sys/devices/virtual/input/lge_touch/quick_cover_status
	chown system system /sys/devices/virtual/input/lge_touch/q_sensitivity
	chmod 664 /sys/devices/virtual/input/lge_touch/q_sensitivity
# END touch_knock_on

# Begin AOD Display New Feature
    chown system system /sys/class/graphics/fb0/aod
    chmod 664 /sys/class/graphics/fb0/aod
    chown system system /sys/class/graphics/fb0/keep_aod
    chmod 664 /sys/class/graphics/fb0/keep_aod
    chown system system /sys/class/graphics/fb0/cur_panel_mode
    chmod 644 /sys/class/graphics/fb0/cur_panel_mode
    chown system system /sys/class/leds/lcd-backlight-ex/brightness
    chmod 664 /sys/class/leds/lcd-backlight-ex/brightness
    chown system system /system/bin/AODLayer
    chmod 664 /system/bin/AODLayer
# End AOD Display new Feature

# Begin High Luminance Mode Features
    chown system system /sys/devices/virtual/graphics/fb0/hl_mode
    chmod 664 /sys/devices/virtual/graphics/fb0/hl_mode
# End High Luminance Mode Features

# Begin Thermal BL Max Features
    chown system system /sys/devices/virtual/graphics/fb0/thermal_blmax
    chmod 664 /sys/devices/virtual/graphics/fb0/thermal_blmax
# End Thermal BL Max Features

# Begin Img Tune Features
    chown system system /sys/class/panel/img_tune/sharpness
    chown system system /sys/class/panel/img_tune/color_enhancement
    chown system system /sys/class/panel/img_tune/image_enhance_set
    chown system system /sys/class/panel/img_tune/cabc
    chmod 664 /sys/class/panel/img_tune/sharpness
    chmod 664 /sys/class/panel/img_tune/color_enhancement
    chmod 664 /sys/class/panel/img_tune/image_enhance_set
    chmod 664 /sys/class/panel/img_tune/cabc
# End Img Tune Features

# Begin LG Volume vibrator
#   chown system system /sys/class/timed_output/vibrator/amp
#   chmod 664 /sys/class/timed_output/vibrator/amp
# End LG Volume vibrator

#BT_S : [CONBT-2025] LGC_BT_COMMON_IMP_MOS_V4L2
    # Feature chip vendor : brcm
    setprop bluetooth.chip.vendor brcm

    # Enable AVRCP Browsing
    setprop persist.service.avrcp.browsing 1

    # Enable AAC
    setprop persist.service.bdroid.aac 1

    # For BCM FM Radio
    setprop ro.fm.module BCM

    # improve a2dp chopping using vendor command (BCM4358:1 / Others:0)
    setprop service.brcm.bt.chip_check 1

service bdaddr_loader /system/bin/bdaddr_loader
    user root
    group bluetooth net_bt_admin misc net_bt_stack
    disabled
    oneshot

#BT_S : [CONBT-2045] LGC_BT_COMMON_IMP_BLE_SNIFF_SCAN
service ble_sniff_scan /system/bin/ble_sniff_scan
    user root
    group bluetooth net_bt_admin misc net_bt_stack
    disabled
    oneshot
#BT_E : [CONBT-2045] LGC_BT_COMMON_IMP_BLE_SNIFF_SCAN

#BT_S : [CONBT-2025] LGC_BT_COMMON_IMP_MOS_V4L2
# shared transport user space mgr service for Bluetooth, FM and GPS
# setprop persist.service.bdroid.bdaddr "/persist/bluetooth/.bdaddr" # 2015.07.30 no such a file
# LGP_DATA_PERFORMANCE_HELPING_CODE, y01.jeong@lge.com
    write /proc/sys/net/ipv4/tcp_adv_win_scale 1
# LGP_DATA_PERFORMANCE_HELPING_CODE, y01.jeong@lge.com
service uim /system/bin/brcm-uim-sysfs
    class late_start
    user root
    group bluetooth net_bt_admin
    oneshot
#BT_E : [CONBT-2025] LGC_BT_COMMON_IMP_MOS_V4L2

service atd /system/bin/atd /dev/ttyGS0 /dev/smd0
    socket atd stream 0660 system inet
    class main

# START SD Card Encryption
on init
    setprop ro.ssbd.session /dev/block/bootdevice/by-name/eksst
    setprop ro.ssbd.offset 0

service erase_sdenc_meta /system/bin/vdc --wait sdcryptfs erase_remaining_km_meta
    disabled
    oneshot

on property:sys.boot_completed=1
    start erase_sdenc_meta
# END SD Card Encryption
on early-fs
	ffu_update

on post-fs
# enable exfat feature
    insmod /system/lib/modules/texfat.ko

# Enable CC Audit for MDFPP [S]
on property:vold.decrypt=trigger_restart_framework
    restart logcat-ccaudit

on property:vold.encrypt_progress=0
    restart logcat-ccaudit

service logcat-ccaudit /system/bin/sh /system/bin/logger_ccaudit.sh
    class main
    disabled
    oneshot
    seclabel u:r:log_services:s0

on property:persist.service.ccaudit.enable=6
    restart logcat-ccaudit

on property:persist.service.ccaudit.enable=5
    restart logcat-ccaudit

on property:persist.service.ccaudit.enable=4
    restart logcat-ccaudit

on property:persist.service.ccaudit.enable=3
    restart logcat-ccaudit

on property:persist.service.ccaudit.enable=2
    restart logcat-ccaudit

on property:persist.service.ccaudit.enable=1
    restart logcat-ccaudit

on property:persist.service.ccaudit.enable=0
    stop logcat-ccaudit
# Enable CC Audit for MDFPP [E]

# Touch_BSP, add call_state property
on property:ril.lge.touch.callstate=0
	write /sys/devices/virtual/input/lge_touch/incoming_call 0
on property:ril.lge.touch.callstate=1
	write /sys/devices/virtual/input/lge_touch/incoming_call 1
on property:ril.lge.touch.callstate=2
	write /sys/devices/virtual/input/lge_touch/incoming_call 2

# LGE FM driver SELinux labeling [START]
on property:bluetooth.fm.restorecon=1
    restorecon /sys/devices/virtual/video4linux/radio0
    restorecon_recursive /sys/devices/virtual/video4linux/radio0
    chown system system /sys/class/video4linux/radio0
    chown system system /sys/class/video4linux/radio0/fmrx_band
    chown system system /sys/class/video4linux/radio0/fmrx_rds_af
    chown system system /sys/class/video4linux/radio0/fmrx_rds_on
    chown system system /sys/class/video4linux/radio0/fmrx_rssi_lvl
    chown system system /sys/class/video4linux/radio0/fmrx_snr_lvl
    chown system system /sys/class/video4linux/radio0/fmrx_chl_lvl
    chown system system /sys/class/video4linux/radio0/fmrx_search_abort
# LGE FM driver SELinux labeling [END]

# 2015-11-02 fdv2-dev@lge.com, LGE_FastDownload-ver2 [START]
on boot
    setprop persist.lg.data.fds_prop 1
# 2015-11-02 fdv2-dev@lge.com, LGE_FastDownload-ver2 [END]

on early-boot
    write /sys/block/dm-0/queue/read_ahead_kb 2048

on property:sys.boot_completed=1
    write /sys/block/dm-0/queue/read_ahead_kb 512
    write /sys/class/i2c-dev/i2c-6/device/6-0072/enable_irq 1

# VR Performance Daemon [START]
# sets up initail cpusets for VR Performance Controller
on init
    mkdir /dev/cpuset/major
    mkdir /dev/cpuset/minor
    write /dev/cpuset/major/cpus "2-3"
    write /dev/cpuset/minor/cpus "0-1"
    write /dev/cpuset/major/mems 0
    write /dev/cpuset/minor/mems 0
    chown system system /dev/cpuset/major
    chown system system /dev/cpuset/major/tasks
    chown system system /dev/cpuset/minor
    chown system system /dev/cpuset/minor/tasks
    chmod 0664 /dev/cpuset/major/tasks
    chmod 0664 /dev/cpuset/minor/tasks

#Create VR PERF deamon related dirs
on post-fs-data
    mkdir /data/misc/vrperfd 0755 root system
    chmod 2755 /data/misc/vrperfd

# vr performance controller service
service vrperfd /system/bin/vrperfd
    class main
    user root
    disabled

on property:vr.perfd.controller.start=1
    start vrperfd

on property:vr.perfd.controller.start=0
    stop vrperfd
# VR Performance Daemon [END]
